.requestResult {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	svg {
		width: 3em;
		height: 3em;
		margin-bottom: 15px;
	}
	&_success {
		fill: #3eff55 !important;
	}
	&_failed {
		fill: red !important;
	}
}
